* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/habit/Dark-mode-mobile.png);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --stroke-profile-color: rgb(0, 0, 0);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

body {
  background: var(--bg-url) no-repeat top center/ cover;
  /* add adjust height view port */
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 712px;
  height: 710px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/* profile */
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  height: 112px;
  border: 2px solid var(--stroke-profile-color);
  border-radius: 100px;
}

#profile img {
  /* width: 128px; */
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  font-size: 18px;
}

/* list styles */
/* bloco geral */
ul {
  list-style: none;
  border: flex;
  display: flex;
  padding: 24px 0;
  flex-direction: column;
  gap: 8px;
}
/* lista alinhada */
ul li a {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  /* texto */
  text-decoration: none;
  font-weight: 500;

  transition: background 0.1s;
}

/* pseudo-selector ou sudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid white;
}

/* links - sociais */
#socia-links {
  display: flex;
  gap: 16px;

  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#socia-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  /* background: rgba(255, 255, 255, 0.1); */
  transition: background 0.1s;
  border-radius: 50%;
}

footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/habit/Dark-mode-desktop.png);
  }
}
